{# % extends "_base.html" % #}
{% extends 'estoque/base.html' %}
{% load crispy_forms_tags static %}


{% block content %}

    <div class="row">
        <div class="col-md-4"></div>
        
        <div class="col-md-4">
            <form method="post">
                {% csrf_token %}
            
                {# { form.as_p } #}
                
                {{ form | crispy }}
                
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
        </div>

        <div class="col-md-4"></div>
    </div> 


{% endblock %}
